body, html, #root {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}
